<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message | Dashboard</title>
</head>
<body>
    
    <h1 align="center">Dashboard</h1>
    <table border="1" align="center">
        <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Message</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.name}}</td>
            <td>{{d.email}}</td>
            <td>{{d.mobile}}</td>
            <td>{{d.msg}}</td>
            <td><a href="/edit/{{d.id}}">Edit</a></td>
            <td><a href="/delete/{{d.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>