<!-- myapp/templates/myapp/product_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Product List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>
            <a href="{% url 'product_detail' pk=product.pk %}">View</a> |
            <a href="{% url 'product_edit' pk=product.pk %}">Edit</a> |
            <a href="{% url 'product_delete' pk=product.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'product_new' %}" class="btn btn-primary">Add Product</a>
{% endblock %}
